.sectionWrapper{
    margin: 10px;
    padding: 10px 0px;
    background-color: #ddebdc;
}
.sectionWrapper .tagDetails{
    padding: 20px;
}

.sectionWrapper .outputWrapper{
    padding: 10px 20px;
    background-color: #a9e0b2;
}

.sectionWrapper .outputWrapper .borderType{
    height: 50px;
    width: 500px;
    text-align: center;
    margin: 30px;
}
.sectionWrapper .outputWrapper .borderType .centerText{
    line-height: 20px;
}
.sectionWrapper .codeWrapper{
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.sectionWrapper .codeWrapper .textAreaWrapper{
    width: 100%;
    border: 2px solid black;
    padding: 20px 0;
}