.titleWrap{
    text-align: center;
}

.gridContainer1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.gridItem {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.gridContainer2{
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.gridContainer2 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

@media (max-width: 768px){
    .gridContainer1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gridContainer1{
        grid-template-columns: 1fr
    }
}